<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lookify!</title>
</head>
<body>
    <h1>Bienvenido a Lookify!</h1>
    <a href="/principal">Comenzar la búsqeda</a>
    <!-- Set de plantillas elegidas: 1, 2 y 6 -->
</body>
</html>